@import "@/app/variables.scss";

.catalogs{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;

    @media screen and (max-width: 768px) {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    h4{
        margin-bottom: 2rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
            margin-inline: 3rem;
        }
    }
    
    .downloadPart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        button{
            margin-inline: 2rem;

            @media screen and (max-width: 768px) {
                margin-inline: 1rem;
            }
        }
    }
}