.contactForm {
    width: 50%;
    padding: 40px;
    background-color: rgba(250, 250, 250, 0.97);

  @media screen and (max-width:768px) {
    width: 100%;
  }

  h2 {
    font-size: 30px;
    color: rgb(16, 16, 89);
    /* font-weight: bold; */
    text-transform: capitalize;
  }

  .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

    [type="button"] {
      width: 100px;
      background-color: rgb(16, 16, 89);
      color: white;
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
    }

    .input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      margin: 12px 0;
      border: none;
      border-bottom: 2.5px solid rgb(16, 16, 89);
      outline: none;
      background-color: rgba(250, 250, 250, 0.97);
    }
    .input::placeholder{
      text-transform: capitalize;
    }
}}