:root {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Play', sans-serif;
}

.pageContainer{
  width: 100%;
}

.home{
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
/*   padding-inline: 2rem; */
}

.products{
  padding-top: 100px;
}

.spacerH50{
  height: 50px;
  
}


@media screen and (max-width: 768px) {
  #root{
    overflow: auto;
  }
  .home{
    padding-top: 75px;
    padding-inline:0;
  }

  .spacerH50{
    display: none
  }
};

.header{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.97);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-inline: 2rem;
  box-shadow: 0 5px 10px -3px rgb(205, 205, 205);
  transition: height ease .3s;
}
